report/main.synctex.gz
report/Req_Analysis.aux
report/Conceptual_Model.aux
report/main.aux
report/fdb_latexmk
report/main.fls
report/main.log
/my-app
/cu_events/node_modules
/cu_events/backend/node_modules
report/crud_ops
/cu_events/backend/uploads


/report