HomePage.css
.container {

    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    background-size: cover; 
    background-position: center; 
    color: rgb(255, 255, 255);
    padding: 50px;
    border: 2px;
    
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
  }
  
  h1 {
    font-size: 4.5rem; 
    margin-bottom: 20px; 
  }
  
  .btn {
    margin: 10px; 
  }
  
  .box {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 5px; 
    margin: 20px 0; 
  }
